li, a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-shadow: 0px 3px 15px rgb(100,100,100);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s 0s;
}

.nav__links li a:hover{
    color: aquamarine
}

/* This references the active page, to highlight the current tab */
.nav__links a.activePage{
    display:block;
    width: 110px;
    
    color: rgb(0, 0, 0);
    

    background-image: linear-gradient(to right, rgb(228, 129, 129), white);

}

/* Refers to the top line of text on this page, "My Reports" */
h1{
    padding: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    display:block;
    height: 10px;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(228, 129, 129), white);

}

#myreports_table
{
    font-family: 'Open Sans Condensed', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#myreports_table th, #myreports_table td{
    border: 1px solid #ddd;
    padding: 8px;
}



#myreports_table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #860909;
    color: white;

}

.nav__links a.activePage:hover{
    color: black;
}


