li, a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    box-shadow: 0px 3px 15px rgb(100,100,100);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s 0s;
}

.nav__links li a:hover{
    color: aquamarine
}

