body {
    background-color: #f8a9a979;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #fff8f8;
    width: 500px;
    height: 520px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: hsl(0, 70%, 31%);;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-left: 1px;
    margin-right: 10px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(168, 122, 122, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 56px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.newuser {
    padding-top: 10px;
    color: hsl(0, 70%, 31%);;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-left: 200px;
    width: 50%;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 56px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.entercode {
    padding-top: 40px;
    color: #af5454;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #cc2c2c52, #e91c1cbe);
    border: 0;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.04);
}

.retrieve {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #98869b;
    padding-top: 30px;
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
    padding-left: 80px;
    padding-right: 40px;
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 30px;
    width: 50%;
    text-align: center;
    font-size: 0.1rem;
    margin-left: 35%;
    padding-left: 40px;
    padding-right: 40px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}